@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom utilities if needed */
@utility text-balance {
  text-wrap: balance;
}