@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom utilities if needed */
@utility text-balance {
  text-wrap: balance;
}